@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

*{
    box-sizing: border-box;
}

body:not(.container){
  margin: 0;
}

.date{
  text-align: center;
}

.banner{
  margin-top: 100px;
  animation: fadeIn 5s;
}

.banner img{
  width:100% ;
}
.head{
  width: max-content;
  float: left;
  padding: 0px 0px 0px 30px;
  animation: fadeIn 10s;
}

.button{
  float: right;
  height: 50px;
  margin-top: 10px;
  margin-right: 100px;
  animation: fadeIn 10s;

}

.inside-button{
  border:2px solid black; 
  padding:10px 20px 10px 20px;
  font-size: large;
}


#Months{
  margin:20px 15px 0;
  font-size: 20px;
  border: 2px solid;
  animation: fadeIn 10s;
}

.container{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    flex-grow: 1;
    margin:50px;
    animation: fadeIn 10s;
}

.calendar{
  width: 500px;
    height:max-content;
    background-color: rgb(219, 213, 213);
    box-shadow:0px 0px 10px black;
}

.month{
    height: max-content;
    background-color: rgb(137, 181, 237);
    display: flex;
    justify-content:center;
    align-items: center;
    text-shadow:0.5px 0.5px 0.5px black;
    border: 1px solid black;
}

.weekdays{
    height: max-content;
    display: flex;
    align-items: center;
}

.weekdays div{
    border: 1px solid black;
    padding:10px;
    width: 14.285%;
    text-align: center;
    text-shadow: 0.4px 0.4px 0.4px black;
    flex-grow: 1;
}

.days{
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.days div{
    border: 1px solid black;
    width: 14.285%;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}

.days div:hover:not(.next-date, .prev-date){
  cursor: pointer;
}

.today {
  background-color:rgb(137, 181, 237);
}

.prev-date{
  padding: 28.5px 0px 10px !important;
}

.next-date{
  padding: 28.5px 0px 10px !important;
}

.floating{
  background-color: orange !important;
}

.public
{
  background-color: red !important;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .calendar {
  background-color: black;
  color: white;
  border: 1px solid white;
  box-shadow:0px 0px 10px white;
}

.dark-mode .month{
  border: 1px solid white;
}

.dark-mode .weekdays div{
  border: 1px solid white;
}

.dark-mode .days div{
  border: 1px solid white;
}

.dark-mode #navbar{
  background-color: black;
  color: white;
}

.dark-mode #logo{
  background-color: black;
  color: white;
}

.dark-mode #navbar-right a{
  color: white;
}

.dark-mode .banner{
  background-color: white;
}

#navbar {
  overflow: hidden;
  background-color: #dedede;
  animation:fadeIn 3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  padding: 15px;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  margin: 10px;
}

#navbar #logo {
  font-size: 40px;
  transition: 0.4s;
  letter-spacing: -5px;
  margin-left: 50px;
  font-family: "goudy-old-style",Georgia,Serif,sans-serif;
}

#navbar a:hover:not(.logo){
  background-color: rgb(167, 167, 167);
  color: black;
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
  margin-right: 50px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


#modal-content {
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30%;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-size: larger;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 532px) {
  /* .container{
    width:490
  }
  .calendar{
    width: 490;
  }
  .weekdays , .days{
    width: auto;
  } */

  #navbar {
    padding: 20px 10px !important;
  }
  #navbar .logo{
    margin-left: 0px !important;
  }
  #navbar a {
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  #navbar-right {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-right: 0px;
  }
  .container{
    width: 95%;
    padding: 20px;
    margin: 0 auto;
  }
  .banner{
    margin-top: 180px;
  }
  .button{
    font-size: small;
    align-items: center;
  }
  #modal-content{
  height: fit-content;
  margin: 80px 0;
  padding: 10px;
  width: 100%;
  }
  .banner img{
    height:max-content;
    width: 100%;
  }
}
